body{
  background-color: #378B2E
}

header{
  text-align: center;
  width: 1365px;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #FF0000;
}

h1{
  color: #6F1A1F;
}

canvas{
  background-color: #ffffff;
}
